html, body {
  font-family:Inter,system-ui,Segoe UI,Roboto,-apple-system,"Helvetica Neue",Arial;
}

h2 {
  font-size: 1rem;
  font-weight: 500;
}
p {
  color: #7e7e7e;
  font-weight: 300;
}
.corner-title{
  top: 16px;
  left: 16px;
  font-family: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.95rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgb(126,126,126);
  font-size: 12px;
}

.header-title {
  font-weight: 500;
  font-size: 2rem;
  padding: 0 0;
}

.header-subtitle {
  font-size: 1rem;
  color: #7e7e7e;
}

/* .bubble-card{
  border: 1px solid #e1e1e1;
  box-shadow: none;
  border-radius: 1rem;
} */

.container{
  max-width: 640px;
  margin:0 auto;
  padding: 1.5rem 1rem;
  border-color: var(--token-89807d16-5f07-4eaa-b9ca-7f39457f1c13, #e8e8e8);
  border-width: .5px;
  border-style: dashed;
}

.site-footer .container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  margin-bottom: 4rem;
}

.card-link-container{
  margin-top: .5rem;
}

.card-link-disabled {
  color: #7e7e7e;}