/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #EDEEF0;
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.card-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 1.4rem;
  border-radius: .5rem;
  gap: 1rem;
  max-width: 340px;
  margin-top: 200px;
}

.card-title {
  font-weight: bold;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-image {
  width: 48px;
  height: 48px;
  border-radius: 9999px;
}

.card-header-text {
  display: flex;
  flex-direction: column;
  gap: .12rem;
}

p {
  margin: 0rem;
}

.card-subtitle {
  color: #525252;
  font-size: small;
}
.card-description {
  color: #525252;
  line-height: 1.4rem;
}
